$white: #f0ffff;
$whitish: #F1F5F9;
$black: #000000;
$background: #282A36;
$background-card: #1E1E2E;
$primary: #06D6A0;
$primary-hover: #04b88c;
$disabled: #c3e9de;
$success: #A9E5BB;
$error: #FF6B6B;
$warning: #FFD166;
$secondary: #118AB2;