@import 'colors';
@import "mediaQueries";

.card {
  background-color: $background-card;
  height: fit-content;
  padding: 12px;
  border-radius: 16px;
  box-sizing: border-box;
}

@include small {
  .card {
    padding: 20px;
  }
}