.widget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;

  &__icon-container {
    padding: 12px;
    border-radius: 999px;

  }
}

.color-red {
  background-color: #FF6B6B;
}
.color-green {
  background-color: #A9E5BB;
}
.color-yellow {
  background-color: #FFD166;
}
.color-blue {
  background-color: #118AB2;
}
