<rv-card>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <label class="label" for="email">Email</label>
      <input class="input" id="email" type="email" formControlName="email" />
      <div *ngIf="email?.invalid && email?.touched">
        <small class="error-message" *ngIf="email?.errors?.['required']"
          >El email es obligatorio.</small
        >
        <small class="error-message" *ngIf="email?.errors?.['email']"
          >El email no es válido.</small
        >
      </div>
    </div>

    <div class="input-container">
      <label class="label" for="password">Contraseña</label>
      <input
        class="input"
        id="password"
        type="password"
        formControlName="password"
      />
      <div *ngIf="password?.invalid && password?.touched">
        <small class="error-message" *ngIf="password?.errors?.['required']"
          >La contraseña es obligatoria.</small
        >
        <small class="error-message" *ngIf="password?.errors?.['minlength']"
          >Debe tener al menos 6 caracteres.</small
        >
      </div>
    </div>

    <div class="button-container">
      <button type="submit" [disabled]="loginForm.invalid">
        Iniciar sesión
      </button>
    </div>
  </form>
</rv-card>
