<div class="title-container">
  <h1>Iniciar sesión</h1>
</div>
<form [formGroup]="loginForm" (ngSubmit)="submit.emit(loginForm.value)">
  <div class="inputs">
    <label class="inputs__label" for="email">Correo electrónico</label>
    <input class="inputs__input" id="email" type="email" formControlName="email" />
    <div *ngIf="email?.invalid && email?.touched">
      <small class="inputs__error-message" *ngIf="email?.errors?.['required']"
        >El email es obligatorio.</small
      >
      <small class="inputs__error-message" *ngIf="email?.errors?.['email']"
        >El email no es válido.</small
      >
    </div>
  </div>

  <div class="inputs">
    <label class="inputs__label" for="password">Contraseña</label>
    <input
      class="inputs__input"
      id="password"
      type="password"
      formControlName="password"
    />
    <div *ngIf="password?.invalid && password?.touched">
      <small class="inputs__error-message" *ngIf="password?.errors?.['required']"
        >La contraseña es obligatoria.</small
      >
      <small class="inputs__error-message" *ngIf="password?.errors?.['minlength']"
        >Debe tener al menos 6 caracteres.</small
      >
    </div>
  </div>

  <div class="buttons">
    <button class="btn-primary" type="submit" [disabled]="loginForm.invalid">
      Iniciar sesión
    </button>

  </div>
</form>
